<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DED.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gateways">
                <span class="oi oi-plus" aria-hidden="true"></span> Gateways
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="watermeters">
                <span class="oi oi-plus" aria-hidden="true"></span> WaterMeters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="energymeters">
                <span class="oi oi-plus" aria-hidden="true"></span> EnergyMeters
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
